$color: #3371F5;
$transition: .2s ease-in;

.button {
  cursor: pointer;
  width: 123px;
  height: 48px;

  background: transparent;
  border: 1.5px solid $color;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color $transition;



  span{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: $color;
    transition: color $transition;
  }
  svg{
    path{
      stroke: $color;
      transition: stroke $transition;
    }
  }


  &:hover{
    background-color: $color;
    svg{
      path{
        stroke: white;
      }
    }
    span{
      color: white;
    }
  }
}
